.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/log
/uploads

# binary files
*.exe

# SQLite database files
*.db
*.sqlite
*.sqlite3
